:root {
  --primary: #6a68eb;
  --secondary: #15a25f;
  --third: #0779ec;
  --fourth: #ffcc33;
  --fifth: #f1491b;
  --bg: #fff;
}

@font-face {
  font-family: "TT-Hoves-Regular";
  src: url(../assets/fonts/TT\ Hoves\ Regular.otf);
}

@font-face {
  font-family: "TT-Hoves-Bold";
  src: url(../assets/fonts/TT\ Hoves\ Bold.otf);
}

* {
  font-family: "TT-Hoves", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  font-family: "TT-Hoves", sans-serif;
  background-color: var(--bg);
  color: #000;
}

/* Navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 9%;
  background-color: white;
  border-bottom: 2px solid #000;
  z-index: 9;
}

.navbar .navbar-logo img {
  width: 11vw;
  margin-left: 5rem;
}

.navbar .navbar-nav a {
  color: #000;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  border-bottom: 0.2rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-nav a span {
  font-weight: bold;
  margin-left: 0.5rem;
}

.navbar .navbar-nav .block {
  border-left: 7px solid #000;
  position: relative;
  top: 0.7rem;
  height: 1.9rem;
  border-radius: 15px;
}

.navbar .navbar-nav button {
  background-color: #000;
  color: var(--bg);
  width: 15rem;
  height: 4rem;
  font-size: 1.4rem;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar .navbar-nav button:hover {
  background-color: var(--primary);
}

.navbar .navbar-lang {
  display: inline-block;
  margin-left: 0.5rem;
}

.navbar .navbar-lang a {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 0.5rem;
  padding-top: 0.7rem;
  color: #000;
}

.navbar .navbar-lang .use {
  color: var(--primary);
  content: "";
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid var(--primary);
  transition: 0.3s;
}

.navbar .navbar-lang .not-use:hover {
  color: var(--primary);
}

.navbar .navbar-lang .not-use::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-lang .not-use:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-lang .not-use:active {
  font-size: 1.3rem;
  transition: 0.3s;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

.navbar .navbar-extra {
  position: absolute;
  right: 5%;
}

.navbar .navbar-extra #hamburger-menu {
  display: none;
}

/* Hero 1 Section */
.hero1 {
  position: relative;
}

.hero1 .container {
  margin: 1.2rem 1.4rem;
}

@keyframes hero-intro {
  from {
    height: 200%;
  }
  to {
    height: 0;
  }
}

.hero1 .overlay {
  background-color: var(--bg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  animation: hero-intro 2s cubic-bezier(0.165, 0.84, 1, 1);
}

/* Digital Agency Section */
.main {
  margin: 4rem 0;
  position: relative;
}

.main .container {
  margin: 0 1%;
  position: relative;
}

.main .container h1 {
  font-size: 4.5rem;
  text-align: center;
}

.main .container .brandtopeople {
  width: 100%;
  padding: 0 1rem;
  height: 250px;
}

.main .container .brandtopeople img {
  width: 100%;
}

.main .container .about-box {
  position: absolute;
  margin-top: 9rem;
  text-align: center;
  right: 0;
  width: 70vw;
}

.main .container .about-box p {
  font-size: 1.5rem;
}

.main .container .about-box button {
  width: 8rem;
  height: 3rem;
  border-radius: 10px;
  margin: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--bg);
  background-color: var(--fifth);
  transition: 0.5s;
  border: 1px solid var(--fifth);
}

.main .container .about-box button:hover {
  width: 7rem;
  height: 2.5rem;
  font-size: 0.8rem;
  background-color: var(--bg);
  color: #000;
}

.main .container .about-box button:active {
  background-color: var(--fifth);
}

.main .container .about-box button:nth-child(even) {
  background-color: var(--secondary);
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid var(--secondary);
}

.main .container .about-box button:nth-child(even):hover {
  font-size: 0.8rem;
  background-color: var(--bg);
  color: #000;
}

.main .container .about-box button:nth-child(even):active {
  background-color: var(--secondary);
}

.main .container .our-clients-box {
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  min-height: 30rem;
  margin-top: 20rem;
  background-color: var(--primary);
}

.main .container .our-clients-box .woman-container {
  flex: 1 1 15rem;
  margin-left: 1.5rem;
}

.main .container .our-clients-box .woman-container .woman-img {
  width: 28rem;
  position: absolute;
  left: 0;
  bottom: -6.4rem;
}

.main .container .our-clients-box .woman-container .woman-img::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 82%;
  left: 0;
  top: 0;
  background: linear-gradient(
    0deg,
    rgba(106, 104, 235, 1) 4%,
    rgba(106, 104, 235, 0) 20%
  );
}

.main .container .our-clients-box .content {
  color: #fff;
  width: 100%;
  flex: 1 1 67rem;
  text-align: center;
}

.main .container .our-clients-box .content h5 {
  font-size: 2rem;
  font-weight: lighter;
}

.main .container .our-clients-box .content h2 {
  font-family: "TT-Hoves-Bold", sans-serif;
  font-size: 5rem;
}

.main .container .our-clients-box .content h2 span {
  color: var(--fourth);
}

/* Our Passionate Section */
.op {
  padding: 2rem 15%;
  margin: 3rem 0;
}

.op .op-container {
  width: 100%;
}

.op .op-container .op-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.op .op-container .op-content .title-flex {
  display: flex;
  flex: 1 1 25rem;
}

.op .op-container .op-content .title-flex h5 {
  font-size: 2rem;
  font-weight: lighter;
}

.op .op-container .op-content .title-flex h2 {
  font-size: 5rem;
}

.op .op-container .text {
  flex: 1 1 1rem;
  font-size: 1.3rem;
  text-align: justify;
  padding-top: 0.5rem;
}

.op .op-container .op-content-flex {
  position: relative;
  background-image: url(../assets/img/home-page/Influence.png);
  display: flex;
}

.op .op-container .op-content-flex .op-content-box-quotes {
  flex: 1 1 20rem;
  align-items: center;
}

.op .op-container .op-content-flex .op-content-box-quotes img {
  width: 7rem;
  margin-top: 6rem;
  margin-left: 10%;
}

.op .op-container .op-content-flex .op-content-box-quotes h3 {
  width: 40%;
  font-size: 1.8rem;
  margin-left: 10%;
  margin-top: 1rem;
  color: #fff;
}

.op .op-container .op-content-flex .op-content-box-progression {
  flex: 1 1 5rem;
}

/* Horizontal Scroll Section */
.sticky-container {
  position: relative;
  scroll-snap-type: x mandatory;
}
.sticky-container .scroll-container {
  overflow-x: hidden;
  display: flex;
  position: sticky;
  top: 0;
}

.sticky-container .scroll-container section {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-container .scroll-container section img {
  width: 100%;
}

/* Subscribe Section */
.subscribe {
  position: relative;
  margin-top: 5rem;
  display: grid;
  place-items: center;
}

.subscribe .subscribe-container {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  width: 70vw;
  height: 15rem;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.subscribe .subscribe-container h4 {
  font-size: 2rem;
  font-weight: lighter;
  flex: 1 1 5rem;
  text-align: center;
}

.subscribe .subscribe-container input {
  width: 20rem;
  height: 4rem;
  padding: 2rem;
  flex: 1 1 1rem;
}

.subscribe .subscribe-container .button {
  background-color: #fff;
  height: 4rem;
  display: flex;
  align-items: center;
  margin-right: 5rem;
}

.subscribe .subscribe-container .button button {
  width: 15rem;
  height: 3rem;
  background-color: #000;
  color: #fff;
  margin-right: 8%;
  cursor: pointer;
}

.subscribe .subscribe-container .button button:hover {
  background-color: #636363;
}

.subscribe .sm-container {
  width: 70vw;
  padding: 2.5rem;
  border-bottom: 1px solid #ebebeb;
  display: flex;
}

.subscribe .sm-container a {
  color: #000;
  margin-right: 3rem;
  cursor: pointer;
}

.subscribe .sm-container a:hover {
  color: var(--primary);
}

/* Footer Section */
footer {
  margin-top: 8rem;
  background-color: #f7f7f7;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
  border-top: 1px solid #ebebeb;
}

footer a img {
  width: 19rem;
  margin: 4rem;
  margin-right: 10rem;
}

footer ul {
  margin-top: 4rem;
}

footer ul .header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

footer ul li {
  list-style-type: none;
  margin-right: 5rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

/* Copyright Section */
.cr {
  background-color: #f7f7f7;
  border-top: 1px solid #ebebeb;
  display: grid;
  place-items: center;
  height: 4rem;
}

.cr .cr-container p {
  font-size: 1.2rem;
}

/* Clients Logo Section */
/* Animation */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.clients-container {
  display: flex;
  place-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.clients-container .clients-logo {
  overflow: hidden;
  width: 100%;
  border: 2px solid #fff;
  white-space: nowrap;
  padding: 10px;
}

.clients-container .clients-logo .clients-logo-slide {
  display: inline-block;
  animation: slide 15s infinite linear;
}

.clients-container .clients-logo .clients-logo-slide img {
  height: 50px;
  margin: 0 1rem;
}

.clients-container h3 {
  flex: 1 1 23rem;
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
}

/* Case Studies Section */
.case-studies {
  margin: 1.2rem 5%;
}

/* Filter */
.case-studies h2 {
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.case-studies .filter-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.7rem;
}

.case-studies .filter-buttons button {
  align-items: center;
  margin: 0.3rem 0;
  margin-right: 0.5rem;
  padding: 1.5rem 1.2rem;
  background-color: rgb(243 244 246);
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  transition: 0.3s;
}

.case-studies .filter-buttons button:hover {
  background-color: #7575756e;
}

.case-studies .filter-buttons button.active {
  background-color: var(--primary);
}

.case-studies .filter-buttons .filter-all {
  border-bottom: 3.5px solid var(--third);
  color: var(--third);
}

.case-studies .filter-buttons .filter-beauty {
  border-bottom: 3.5px solid rgb(255, 1, 200);
}

.case-studies .filter-buttons .filter-food {
  border-bottom: 3.5px solid rgb(255, 240, 27);
}

.case-studies .filter-buttons .filter-financial-education {
  border-bottom: 3.5px solid rgb(0, 255, 0);
}

.case-studies .filter-buttons .filter-cooking {
  border-bottom: 3.5px solid rgb(255, 0, 0);
}

.case-studies .filter-buttons .filter-entertainment {
  border-bottom: 3.5px solid rgb(195, 0, 255);
}

.case-studies .filter-buttons .filter-healty {
  border-bottom: 3.5px solid rgb(0, 183, 255);
}

/* Case Studies Card */
.case-studies .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.case-studies .card-container .case-studies-card {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.case-studies .card-container .case-studies-card img {
  width: 100%;
  transition: transform 0.5s ease;
}

.case-studies .card-container .case-studies-card:hover img {
  transform: scale(1.05);
}

.case-studies .card-container .case-studies-card .category {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.case-studies .card-container .case-studies-card .category button {
  margin: 1rem;
  padding: 0.5rem 0.9rem;
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.case-studies .card-container .case-studies-card .category .beauty {
  background-color: rgb(255, 1, 200);
  color: rgb(255, 255, 255);
}
.case-studies .card-container .case-studies-card .category .beauty:hover {
  background-color: rgb(187, 0, 146);
  color: rgb(192, 192, 192);
}

.case-studies .card-container .case-studies-card .category .healthy {
  background-color: rgb(0, 183, 255);
  color: rgb(255, 255, 255);
}
.case-studies .card-container .case-studies-card .category .healthy:hover {
  background-color: rgb(0, 145, 202);
  color: rgb(192, 192, 192);
}

.case-studies .card-container .case-studies-card .category .food {
  background-color: rgb(255, 240, 27);
  color: rgb(255, 255, 255);
}
.case-studies .card-container .case-studies-card .category .food:hover {
  background-color: rgb(201, 189, 21);
  color: rgb(192, 192, 192);
}

.case-studies .card-container .case-studies-card .category .entertainment {
  background-color: rgb(195, 0, 255);
  color: rgb(255, 255, 255);
}
.case-studies
  .card-container
  .case-studies-card
  .category
  .entertainment:hover {
  background-color: rgb(154, 1, 201);
  color: rgb(192, 192, 192);
}

/* Text Reveal Animation */
.slide-up {
  opacity: 0;
  fill: blur(5px);
  transform: translateY(100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  fill: blur(0);
  transform: translateY(0);
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 900px) {
  html {
    font-size: 62.5%;
  }

  .navbar {
    position: fixed;
  }

  .navbar .navbar-extra #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 5.3rem;
    right: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    transition: 0.3s;
    z-index: 99;
    text-align: center;
  }

  .navbar.active {
    position: relative;
  }

  .navbar .navbar-nav.active {
    opacity: 0;
  }

  .navbar .navbar-nav .line-navbar {
    display: none;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    z-index: -99999999;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }

  .navbar .navbar-nav a span {
    font-weight: lighter;
    margin-left: 0;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-logo img {
    margin: 0;
  }

  .navbar .navbar-lang {
    margin-right: 2rem;
  }

  .main .container {
    position: relative;
  }

  .main .container h2 {
    font-size: 3rem;
  }

  .main .container .brandtopeople {
    height: 170px;
  }

  .main .container .about-box {
    position: relative;
    margin-top: 2rem;
    width: 100%;
  }

  .main .container .about-box p {
    font-size: 2rem;
  }

  .main .container .our-clients-box {
    display: inline-block;
    min-height: 40rem;
  }

  .main .container .our-clients-box .woman-container .woman-img {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 30rem;
  }

  .main .container .our-clients-box .content {
    margin-top: 11rem;
    padding-top: 20rem;
  }

  .main .container .our-clients-box .woman-container .woman-img::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 75%;
    left: 0;
    top: 0;
    background: linear-gradient(
      0deg,
      rgba(106, 104, 235, 1) 5%,
      rgba(106, 104, 235, 0) 20%
    );
  }

  .op .op-container .op-content {
    display: inline-block;
  }

  .op .op-container .op-content .title-flex {
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .op .op-container .op-content .title-flex h5 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .op .op-container .op-content .text {
    font-size: 1.8rem;
    text-align: center;
  }

  .op .op-container .op-content-flex {
    display: inline-block;
  }

  .op .op-container .op-content-flex .op-content-box-quotes h3 {
    width: 100%;
    margin: 0;
    padding-left: 10%;
  }

  .op .op-container .op-content-flex .op-content-box-progression {
    flex: 1 1 60rem;
  }

  /* .sticky-container .scroll-container section {
    min-height: 100vh;
  } */
}
/* Mobile Phone */
@media (max-width: 430px) {
  html {
    font-size: 55%;
  }

  .navbar .navbar-logo img {
    width: 18vw;
    margin-left: 2rem;
  }

  .main .container .brandtopeople {
    height: 120px;
  }

  .main .container .our-clients-box .content h2 span {
    white-space: nowrap;
  }

  .clients-container .clients-logo {
    padding: 0;
  }

  .clients-container .clients-logo .clients-logo-slide img {
    height: 35px;
  }

  .clients-container h3 {
    flex: 1 1 15rem;
    font-size: 1.5rem;
  }

  .case-studies h2 {
    font-size: 2rem; /* Adjusted font size for smaller screens */
  }
}
